:root {
    --position-settings-screen: 25%;
}

body {
    margin: 0;
    padding: 0;
}

.main-screen {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-header {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
    border-bottom: #bbb solid 1px;
    font-size: 2.5em;
    height: 50px;
    background-color: #04BF68;
}

.user-photo {
    border: 1px solid #04BF68;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 0 0 10px;
}

.main-header > div {
    position: relative;
    display: flex;
}

.main-header > div > h2 {
    margin-left: 15px;
    font-size: 0.5em;
    color: #F2F2F2;
}

.btn-menu {
    margin-right: 15px;
    border: none;
    font-size: 0.7em;
    background-color: inherit;
    color: #F2F2F2;
    height: 50px;
}

.btn-menu:hover {
    color: #ccc;
}

.right-settings-screen {
    position: fixed;
    left: 100%;
    top: 51px;
    display: flex;
    width: 75%;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    height: 85vh;
    border-left: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
    z-index: 100;
    color: #02733E;
}
.right-settings-screen-show {
    animation-duration: 0.75s;
    animation-name: show-settings-screen;
    left: var(--position-settings-screen);
}
.right-settings-screen-hide {
    animation-duration: 0.75s;
    animation-name: hide-settings-screen;
    left: 100%; 
}

@keyframes show-settings-screen {
    from {
        left: 100%;
    }
    to {
        left: var(--position-settings-screen);
    }
}

@keyframes hide-settings-screen {
    from {
        left: var(--position-settings-screen);
    }
    to {
        left: 100%;
    }
}


.list-settings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.list-settings > li {
    padding-bottom: 8px;
    padding-left: 25px;
    padding-top: 8px;
}
.list-settings > li:first-child {
    padding-top: 16px;
}

.list-settings > li:hover {
    background-color: #ddd;
}

.right-settings-screen > p {
    display: flex;
    position: relative;
    justify-self: flex-end;
    align-self: center;
}

.search-bar-container {
    position: relative;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-self: center;
    z-index: 3;
    width: 100%;
}

.search-bar {
    border: #04BF68 2px solid;
    border-radius: 12px;
    color: #02733E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    font-size: 12px;
    height: 20px;
    text-align: center;
}

.search-items-container {
    position: fixed;
    display: flex;
    top: -101%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: #aaa solid 1px;
    flex-direction: column;
    background-color: white;
}

.search-items-container-show {
    animation-duration: 0.75s;
    animation-name: show-search-items;
    top: 110px;
}
.search-items-container-hide {
    animation-duration: 0.75s;
    animation-name: hide-search-items;
    top: -101%;
}

@keyframes show-search-items {
    from {
        top: -101%;
    }
    to {
        top: 110px;
    }
}

@keyframes hide-search-items {
    from {
        top: 110px;
    }
    to {
        top: -101%;
    }
}

.search-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}

.close-search-panel {
    border: none;
    font-size: 1.25em;
    background: inherit;
    color: #666;
    padding-right: 15px;
}

.close-search-panel:hover {
    color: #aaa;
}

.chats-container {
    list-style-type: none;
    position: fixed;
    flex-direction: column;
    justify-content: baseline;
    display: flex;
    height: 100%;
    top: 51px;
    padding: 50px 0 30px 0;
    width: 100%;
    overflow-y: auto;
    align-self: center;
    margin: 0;
    background-color: white;
}

.chat-list-item {
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.chat-list-item:hover {
    background-color: #F2F2F2;
}

.chat-list-item > div {
    margin-left: 10px;
}


.chat-list-name, .chat-list-content {
    margin: 0
}


.chat-img {
    border: 2px solid #04BF68;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.chat-list-content {
    color: #02733E;
    word-break: break-all;
}

@media (min-width: 400px) {
    .chats-container, .search-items-container, .search-bar-container {
        width: 80%;
    }

    .chats-container {
        border-left: #bbb solid 1px;
        border-right: #bbb solid 1px;
    }

    .right-settings-screen {
        width: 50%;
    }
    :root {
        --position-settings-screen: 50%;
    }


}

@media (min-width: 500px) {
    .chats-container, .search-items-container, .search-bar-container {
        width: 70%;
    }

    .right-settings-screen {
        width: 40%;
    }
    :root {
        --position-settings-screen: 60%;
    }

    .search-bar {
        width: 60%;
    }
}

@media (min-width: 700px) {
    .chats-container, .search-items-container, .search-bar-container {
        width: 50%;
    }

    .right-settings-screen {
        width: 30%;
    }
    :root {
        --position-settings-screen: 70%;
    }

    .search-bar {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .chats-container, .search-items-container, .search-bar-container {
        width: 40%;
    }

    .right-settings-screen {
        width: 25%;
    }
    :root {
        --position-settings-screen: 75%;
    }

}